@import "../../scss/lib/theme/_index.scss";

.home-content {
  background: $app-color-black;
  min-height: 50%;
  width: 90%;
}

h2 {
  color: $app-color-green;
}

ul {
  margin-bottom: 4em;
}

.gallery-selector {
  width: 80%;
  background: $app-color-blue;
  font-size: 1.25rem;
}
