<section class="home-content">
  <h2>{{homeCtrl.title}}</h2>
  <a href="/#!/home">home</a>
  <a href="/" ng-click="homeCtrl.logout()">sign out</a>
  <create-gallery></create-gallery>
  <input type="number" ng-model="homeCtrl.galleryLimit" placeholder="100" value="100">

  <input type="text" placeholder="search" ng-model="homeCtrl.searchValue">

  <ul>
    <gallery-item
    ng-repeat="gallery in homeCtrl.galleries | fuzzySearch : homeCtrl.searchValue"
    gallery="gallery"
    currentGallery="searchValue">
  </gallery-item>
  </ul>

  <select
    name="gallery selection"
    ng-options="gallery as gallery.name for gallery in homeCtrl.galleries track by gallery._id"
    ng-model="homeCtrl.currentGallery"></select>

  <thumbnail-container
    ng-if="homeCtrl.currentGallery"
    gallery="homeCtrl.currentGallery"
    currentGallery="homeCtrl.currentGallery"
    galleries="homeCtrl.galleries">
  </thumbnail-container>
</section>
