<section>
  <form
    name="editGalleryForm"
    ng-submit="editGalleryCtrl.updateGallery()"
    novalidate>

    <fieldset>
      <label for="name">name</label>
      <input name="name" type="text" ng-model="editGalleryCtrl.gallery.name">
    </fieldset>
    <fieldset>
      <label for="desc">desc</label>
      <input type="text" name="desc" ng-model="editGalleryCtrl.gallery.desc">
    </fieldset>
    <button ng-click="editGalleryCtrl.deleteGallery()">delete</button>
    <button type="submit" name="submit">update</button>
  </form>
</section>
